* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@font-face {
    font-family: "MorrisModernC";
    src: url("../fonts/MorrisModernC.otf") format("opentype");
}
$yellow: rgba(255, 214, 0, 1);
$blue: #0a1f8e;
$lightBlue: #ebf7fd;
$lightGreen: rgba(228, 255, 178, 1);
$green: #006930;
$orange: #ff6b00;
$red: #e60004;

.content-main {
    margin: auto;
    max-width: 780px;
    width: 100%;
    overflow-x: hidden;
    @media screen and (max-width: 760px) {
        min-height: 100vh;
    }
    .main {
        height: 100%;
        min-height: 100vh;
        input,
        select,
        textarea {
            user-select: all;
            -webkit-appearance: none;
            box-shadow: none;
            outline: none;
            border: none;
            background: #fff;
            border: 1px solid #2ebef0;
            padding: 1rem;
        }
        select {
            cursor: pointer;
            padding-right: 40px;
            background: #fff url(../images/select-down.png) no-repeat;
            background-position: 95% 50%;
            background-size: 15px;
        }
        @media screen and (min-width: 760px) {
            height: 780px;
            min-height: 0;
        }
    }
    @media screen and (min-width: 760px) {
        height: 780px;
    }
}
.main-text {
    @media screen and (max-width: 760px) {
        height: 100vh;
    }
}
.final-pic {
    @media screen and (max-width: 760px) {
        flex: 80%;
        max-width: 79%;
    }
}
.main {
    @media screen and (max-width: 760px) {
        height: 100vh;
    }
}
.lightblue-bg {
    background: $lightBlue;
}
.lightgreen-bg {
    background: $lightGreen;
}
.block-style {
    border: 3px solid transparent;
    grid-template-rows: 1fr 35px;
    gap: 1rem;
    &:hover {
        background: rgba(9, 41, 192, 1);
        border: 3px solid #fff;
        p {
            color: white;
        }
    }
}
.fixed-body {
    height: 100vh;
    overflow: hidden;
    @media screen and (min-width: 760px) {
        height: 780px;
    }
}
.blue-bg {
    background: radial-gradient(59.82% 43.83% at 50% 50%, #5750ab 0%, #00188a 100%);
    &.round {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: -10%;
            top: 6%;
            bottom: 0;
            background: #0a1f8e url(../images/after-blue-baloons.png) no-repeat bottom;
            background-size: 75%;
            border-radius: 50% 50% 0 0;
            width: 120%;
            height: 94%;
            @media screen and (max-width: 748px) {
                width: 160%;
                left: -30%;
            }
        }
        &::after {
            position: absolute;
            // content: "";
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
            background: url(../images/after-blue-baloons.png) no-repeat center;
            background-size: contain;
            width: 80%;
            height: 80%;
        }
    }
}
.red-bg {
    background: radial-gradient(59.82% 43.83% at 50% 50%, #ff9d9f 0%, #e60004 100%);
}
.arr {
    &:hover {
        background: #ebf7fd;
    }
}
.bg {
    &-lightGreen {
        background: #d7fb94;
    }
    &-red {
        background: $red;
        &.active {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: calc(100% + 10px);
                height: calc(100% + 10px);
                left: -5px;
                top: -5px;
                border: 3px solid $red;
                border-radius: 50%;
            }
        }
        &-res {
            background: #b20003;
        }
        &-dot {
            background: rgba(178, 0, 3, 1);
            &.active {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: calc(100% + 10px);
                    height: calc(100% + 10px);
                    left: -5px;
                    top: -5px;
                    border: 3px solid rgba(178, 0, 3, 1);
                    border-radius: 50%;
                }
            }
        }
    }
    &-blue {
        background: $blue;
        &-res {
            background: #0e98c8;
        }
        &-dot {
            background: #2ebef0;
            &.active {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: calc(100% + 10px);
                    height: calc(100% + 10px);
                    left: -5px;
                    top: -5px;
                    border: 3px solid #2ebef0;
                    border-radius: 50%;
                }
            }
        }
    }
    &-orange {
        background: $orange;
    }
    &-yellow {
        background: $yellow;

        &-res {
            background: #ff6b00;
        }
        &-dot {
            background: #ffd600;
            &.active {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: calc(100% + 10px);
                    height: calc(100% + 10px);
                    left: -5px;
                    top: -5px;
                    border: 3px solid #ffd600;
                    border-radius: 50%;
                }
            }
        }
    }
    &-darkBlue {
        background: #1f326b;
    }
    &-lightBlue {
        background: #ebf7fd;
    }
    &-green {
        background: #7db713;
        &-res {
            background: #006930;
        }
        &-dot {
            background: #7db713;

            &.active {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: calc(100% + 10px);
                    height: calc(100% + 10px);
                    left: -5px;
                    top: -5px;
                    border: 3px solid #7db713;
                    border-radius: 50%;
                }
            }
        }
    }
    &-blueZ {
        background: rgba(145, 215, 240, 1);
    }
    &-blueL {
        background: #2ebef0;
        &.active {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: calc(100% + 10px);
                height: calc(100% + 10px);
                left: -5px;
                top: -5px;
                border: 3px solid #2ebef0;
                border-radius: 50%;
            }
        }
    }
}
.h {
    &-100vh {
        height: 100vh;
    }
}
h1 {
    font-family: "MorrisModernC";
}
.moris {
    font-family: "MorrisModernC";
}
.text {
    &-orange {
        color: $orange;
    }
    &-yellow {
        color: $yellow;
        &-res {
            color: #ff6b00;
        }
    }
    &-blue {
        color: $blue;
        &-res {
            color: #0e98c8;
        }
    }
    &-red {
        color: red;
        &-res {
            color: #b20003;
        }
    }
    &-reg {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        line-height: 1.3;
    }
    &-green {
        color: $green;
        &-res {
            color: #006930;
        }
    }
}
.button-st {
    &:hover {
        filter: brightness(1.2);
    }
}
.popup {
    display: grid;
    place-items: center;

    width: 100%;

    p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
    }
    h3,
    h2 {
        font-family: "MorrisModernC";
        font-style: normal;
        font-weight: 400;
    }
}
.close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    span {
        width: 14px;
        height: 3px;
        display: block;
        background: $blue;
        transform-origin: 35%;
        transform: rotate(45deg);
        &:last-child {
            transform: rotate(-45deg);
        }
    }
}
.flex {
    img {
        flex-shrink: 0;
        object-fit: contain;
    }
}
.grid-mob {
    @media screen and (max-width: 760px) {
        grid-template-rows: repeat(3, auto);
    }
}
.card-style {
    @media screen and (max-width: 760px) {
        max-width: 268px;
    }
    p {
        letter-spacing: -0.9px;
    }
}
.pic-bg {
    background: url(../images/pic-bg.jpeg) no-repeat center;
    background-size: cover;
}
.with-logo {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        width: 4rem;
        height: 3rem;
        background: url(../images/main-logo.png) no-repeat center;
        background-size: contain;
        z-index: 30;
    }
}
.mainPic {
    @media screen and (max-width: 760px) {
        height: auto;
        position: absolute;
        bottom: 0;
        width: 74vw;
        margin: 0;
    }
    @media screen and (max-height: 668px) {
        width: 60vw;
    }
}
.border {
    &-blue {
        border-color: $blue;
    }
}
.result {
    &-bg {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background: url("../images/baloon-res.png") no-repeat;
            background-position: 60% 100%;
            background-size: 120%;
        }
    }
    &-pic {
        width: 52%;
        height: 0;
        padding-bottom: 62%;
        @media screen and (max-width: 760px) {
            width: 310px;
            padding-bottom: 118%;
            transform: rotate(3deg);
        }
    }
}
@import "./animations";
